name: First Workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: echo "Hello there, my first github Actions"
      - name: Print greeting
        run: echo "Great learning !! Taada .."
